main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #4ca3dd;
  --secondary: #a2e761d0;
  --tertiary: #15a787;
  --light: #fafafa;
  --dark: #000000;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

html,
body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--dark);
  color: var(--light);
  font-family: cursive;
}

a {
  color: var(--dark);
  text-decoration: none;
  font-weight: bold;
}

a:hover,
nav li:hover {
  opacity: 0.5;
}

nav li {
  cursor: pointer;
  color: var(--dark);
}

header {
  background-color: var(--tertiary);
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

form {
  width: 50%;
  color: var(--tertiary);
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 100px;
  border: 3px solid var(--light);
  padding: 5px;
}

strong {
  font-size: 18px;
}

.First {
  color: var(--primary);
}

.Second {
  color: var(--secondary);
}

.Third {
  color: var(--tertiary);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.My-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.Right {
  padding-left: 850px;
  margin: 15px 0;
}

.Items {
  margin-left: var(--spacing-two);
  margin-right: var(--spacing-two);
}

.CoverImg {
  margin-left: 420px;
  height: 340px;
}

.Contact-button {
  background: var(--primary);
  border: 0;
  border-radius: 8px;
  color: var(--secondary);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
  cursor: pointer;
}

.Contact-button:hover {
  opacity: 0.8;
}

.Links {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

.Links:hover {
  opacity: 0.5;
}

.Card {
  background: var(--tertiary);
  border-radius: 3px;
  height: 400px;
  width: 400px;
  margin: 1rem;
  position: relative;
  text-align: left;
  color: var(--dark);
}

.ImgContain {
  height: 50%;
  overflow: hidden;
  text-align: center;
  border: 6px solid var(--secondary);
  border-radius: 6px;
}

.ProjectImg {
  height: 225px;
  width: 600px;
}

.Project {
  padding-left: var(--spacing-two);
  padding-right: var(--spacing-two);
  font-size: 15px;
}

.ProjectLi {
  margin-top: 18px;
}

